In [1]:
import pandas as pd

In [3]:
cities_df = pd.read_csv('resources/weather_cites.csv')

In [4]:
cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,sompeta,18.9333,84.6000,72.00,58,100,6.20,IN,2023-02-01 01:21:13
1,1,fomboni,-12.2800,43.7425,82.15,73,100,7.99,KM,2023-02-01 01:21:15
2,2,butaritari,3.0707,172.7902,80.38,78,100,17.47,KI,2023-02-01 01:21:15
3,3,yellowknife,62.4560,-114.3525,-25.08,75,20,11.50,CA,2023-02-01 01:21:16
4,4,mar del plata,-38.0023,-57.5575,68.95,88,75,9.22,AR,2023-02-01 01:18:06
...,...,...,...,...,...,...,...,...,...,...
578,578,kaffrine,14.1059,-15.5508,69.67,17,6,9.15,SN,2023-02-01 01:25:01
579,579,richards bay,-28.7830,32.0377,73.04,92,100,13.20,ZA,2023-02-01 01:25:02
580,580,manyana,-23.4000,21.7167,66.00,90,93,3.78,BW,2023-02-01 01:25:02
581,581,barra dos coqueiros,-10.9089,-37.0386,78.82,78,75,2.30,BR,2023-02-01 01:25:03
582,582,okhotsk,59.3833,143.3000,0.00,95,100,12.59,RU,2023-02-01 01:25:03

In [5]:
cities_df.to_html('cities.html',index=False)